.rapidBackground {
    background-color: black;
    height: 120vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    place-content: center;
}

.title {
    color: gray;
    font-size: 2.5vw;
    margin-bottom: 1vw;
}

.aboutTitle {
    color: gray;
    font-size: 2.5vw;
}

.title{
    width: 85vw;
    align-items: left;
}

.imageContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.image {
    max-width: 60%;
    height: auto;
    border-radius: 2vw;
    margin-left: -10vw;
}

.imageContainer {
    display: flex;
    justify-content: center; 
    width: 100%;
}

.row {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.text {
    color: white;
    font-size: 2vw;
    text-align: center;
    flex: 1;
    margin: 0 1vw;   
    white-space: pre-line; /* Allow text to break into multiple lines */
    max-width: 20vw;
}

.textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1vw;
    margin-top: 5vw; /* Increase gap between image and text */
    margin-bottom: 8vw;
}


.additionalContent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2vw;
    width: 100%;
    margin-top: 2vw;
}

.newImageContainer {
    flex: 1;
    display: flex;
    justify-content: flex-start; /* Align the image to the left */
    align-items: center;
}

.newImage {
    max-width: 60%;
    height: auto;
    border-radius: 2vw;
}

.newTextContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1vw;
}

.newText {
    color: grey;
    font-size: 2.5vw;
    line-height: 1.5;
    white-space: pre-line;
    max-width: 40vw;
}

.newText strong {
    color: white;
}