.rapidBackground {
    background-color: white;
    height: 120rem;
    width: 100rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    place-content: center;
    margin: 0 auto;
}

.title {
    color: gray;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.aboutTitle {
    color: gray;
    font-size: 2.5rem;
}

.title {
    width: 85rem;
    align-items: left;
}

.imageContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.image {
    width: 40vw; 
    max-width: 600px; 
    height: auto;
    border-radius: 2rem;
    margin-left: -10rem;
}

.row {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.text {
    color: black;
    font-size: 2rem;
    text-align: center;
    flex: 1;
    margin: 0 1rem;   
    white-space: pre-line; 
    max-width: 20rem;
}

.textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;
    margin-top: 5rem; 
    margin-bottom: 8rem;
}

.additionalContent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
    width: 100%;
    margin-top: 2rem;
}

.newImageContainer {
    flex: 1;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
}

.newImage {
    width: 40vw; 
    max-width: 600px; 
    height: auto;
    border-radius: 2rem;
}

.newTextContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
}

.newText {
    color: grey;
    font-size: 2.5rem;
    line-height: 1.5;
    white-space: pre-line; 
    max-width: 40rem;
}

.newText strong {
    color: black; 
}
